<section data-ng-controller="AnswersController" data-ng-init="findWithGrade()">

    <div class="page-header">
        <h2>Question</h2>
        <h3 ng-bind="answer.question.name"></h3>
        <b>Description:</b>
        <p ng-bind="answer.question.content"></p>

        <hr>


        <h2>Answer</h2>
        <p ng-bind="answer.description"></p>

        <div class="pull-right" data-ng-show="authentication.user._id == answer.user._id">
            <a class="btn btn-primary" href="{{Answers.urls.edit(answer._id)}}">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-primary" data-ng-click="Answers.remove();">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>


        <iframe width="420" height="315" ng-src="{{answer.videoDetails.embed}}" frameborder="0" allowfullscreen></iframe>


        <br />
        <br />
    </div>

    <small>
        <em class="text-muted">Posted on
            <span data-ng-bind="answer.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="answer.user.displayName"></span>
        </em>
    </small>

    <br />
    <br />

    <div id="userArea">
        <h3>User Info</h3>
        <hr>
        <h4 ng-bind="answer.user.displayName"></h4>
        <small ng-bind="answer.user.email"></small>
        <br>
        <br>
        <p ng-bind="answer.user.bio"></p>


        <ul data-ng-init="Answers.find({'user': answer.user._id})">

            <li ng-repeat="ans in answers | orderBy: 'question.name' | groupBy:['question._id']">
                <h4 data-ng-bind="ans.question.name" ng-show="ans.group_by_CHANGED"></h4>
                <ul>
                <li><a data-ng-href="{{Answers.urls.view(ans._id)}}" data-ng-bind="ans.description"></a></li>
                </ul>
            </li>
        </ul>
    </div>

    <br>
    <br>
    <br>

    <div>

        <h2>Teacher's Area</h2>
        <b>Put a grade: <span class="h1" data-ng-bind="grade.value"></span></b>

        <form data-ng-submit="grade._id ? Grades.update() : Grades.create()">
            <input type="range" min="0" max="10" value="3" data-ng-model="grade.value" style="width:200px" />
            <input type="submit" class="btn btn-default" value="ADD GRADE" />
        </form>

    </div>


</section>
