<section ng-controller="TeacherController">

    <br>
    <br>
    
    <h1>Teachers Area</h1>
    <hr>
    <br>



    <div class="row" ng-init="Questions.find()">
        <div class="col-sm-6">
            <h2>Main Question Pool (
                <span ng-bind="questions.length"></span>)</h2>

            <a data-ng-href="{{Questions.urls.create()}}" class="btn btn-default">Add New</a>

            <br>
            <br>
            <br>

            <b>Select a question to filter answers:</b>
            <ul>
                <li>
                    <a href="" ng-click="questions.selectedQuestion = ''" ng-class="{'text-danger': !questions.selectedQuestion}">
                        <b>--- ALL ---</b>
                    </a>
                </li>
                <li ng-repeat="question in questions">
                    <a href="" ng-click="questions.selectedQuestion = question" ng-class="{'text-danger': questions.selectedQuestion==question}">
                        <b ng-bind="question.name"></b>
                        <br>Read Time: <b ng-bind="question.readTime"></b>
                        <br>Record Time: <b ng-bind="question.recordTime"></b>
                    </a>
                    <br>
                    <a class="btn btn-default" data-ng-href="{{Questions.urls.edit(question._id)}}" ng-click="">Edit</a>
                    <br>
                    <br>
                </li>
            </ul>
        </div>

        <div class="col-sm-6" ng-init="Answers.find()">
            <h2>Submitted Answers (
                <span ng-bind="answers.length"></span>)</h2>

            <ul>
                <li ng-repeat="answer in answers | filter: {'question': questions.selectedQuestion}">
                    <a href="#!/answers/{{answer._id}}">
                    	<img ng-src="{{yt.getThumbnails(yt.videoIdFromUrl(answer.video))[1]}}" />
                        <br>

                        <b>Q:</b> <span ng-bind="answer.question.name"></span><br>
                        <p><b>A:</b> <b ng-bind="answer.description"></b></p>
                        <small>by: <i ng-bind="answer.user.displayName"></i></small>
                        <hr>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</section>
