<section ng-controller="StudentsController">

    <style>
    .disappear {
        position: absolute;
        left: -9999px
    }
    </style>
    <!--  ========= 1. RECORD ============ -->
    <div ng-controller="ScriptcamController" class="pull-right" style="width:340px;" ng-class="{recording: state==RECORDING}">

        <div ng-show="state>=READING && state != RECORDING">
            <a href="" ng-click="hideCamera=true" ng-show="!hideCamera">Hide Camera</a>
            <a href="" ng-click="hideCamera=false" ng-show="hideCamera">Show Camera</a>
        </div>

        <div class="inner" ng-class="{'disappear': hideCamera && state != PREPARE_RECORD}">

            <a ng-href="{{Webcam.filename}}" ng-bind="Webcam.filename"></a>

            <div id="recorder">

                <h4>Camera Area</h4>
                <div style="float:left;border:4px solid red">
                    <div id="webcam" data-scriptcamera="webcamConfig" data-scriptcamera-init="loadWebcam">
                    </div>
                </div>

                <br clear="both" />
                <br>
                <div id="setupPanel">
                    <img src="modules/students/img/webcamlogo.png" />

                    <span style="display:inline-block;width:300px">
                        <select class="form-control" ng-model="Webcam.camera" ng-change="Webcam.changeCamera()" ng-disabled="state>=READING">
                            <option ng-repeat="cam in Webcam.cameraNames" value="{{$index}}" ng-bind="cam"></option>
                        </select>
                    </span>

                    <br>
                    <br>

                    <img src="modules/students/img/miclogo.png" />
                    <span style="display:inline-block;width:300px">
                        <select class="form-control" ng-change="changeMicrophone()" ng-model="Webcam.microphone" ng-change="Webcam.changeMicrophone()" ng-disabled="state>=READING">
                            <option ng-repeat="mic in Webcam.microphoneNames" value="{{$index}}" ng-bind="mic"></option>
                        </select>
                    </span>
                </div>

                <br>
                <p ng-show="state>=PREPARE_RECORD">
                    Recording Time Left:
                    <span class="h1" ng-bind="Webcam.timeLeft"></span>
                    seconds
                </p>


                <br>

                <button class="btn btn-small btn-success" ng-click="Webcam.closeCamera()" ng-disabled="!Webcam.recording" ng-show="state==RECORDING">
                    Stop Recording
                </button>

                <!-- <div style="display:none">

                    <br/>
                    <button id="recordStartButton" class="btn btn-small" ng-click="Webcam.startRecording()" ng-disabled="connected">Start Recording</button>&nbsp;


                    <label>Time left:</label>
                    <span style="display:inline-block;vertical-align:top">
                        <input type="text" id="timeLeft" data-ng-model="Webcam.timeLeft" class="form-control">&nbsp;
                    </span>

                    <button id="recordPauseResumeButton" class="btn btn-small" ng-click="Webcam.pauseResumeCamera()" ng-disabled="!Webcam.recording">
                        <span ng-show="Webcam.paused">Resume</span>
                        <span ng-show="!Webcam.paused">Pause</span>
                        Recording
                    </button>

                </div> -->



            </div>
            <div id="mediaplayer" style="display:none;"></div>

        </div>
    </div>
    <!--  ========= RECORD END ============ -->




    <div style="margin-right:400px">


        <div ng-show="state==ERROR">
            <h4>OOPS! An error has occured.</h4>
            <p class="alert alert-warning" ng-bind="errorMsg"></p>

            <button class="btn btm-lg btn-primary" ng-click="reloadPage()">RELOAD PAGE</button>
            <br>
            <br>
            <a class="btn btm-lg btn-default" href="#!/students">
                    &laquo; GO BACK TO INSTRUCTIONS SCREEN
                </a>
        </div>


        <div style="padding:60px 100px 60px 0;" ng-show="state<READING">
            <h2>1. Prepare Hardware</h2>

            <br>
            <br>


            <div ng-show="state<=0">
                <a href="http://get.adobe.com/flashplayer/" target="_blank">
                    <img src="modules/students/img/flashplayer.gif" />
                </a>
                <br>
                <br>
                <p><a href="http://get.adobe.com/flashplayer/" target="_blank">Flash Player</a> is required. In order to initialize your web camera you click <b>Allow</b> in Flash window.</p>
            </div>



            <!-- READY TO -->
            <div ng-show="state==CAMERA_READY">
            <h4>Your hardware is ready! <span class="glyphicon glyphicon-ok" style="color:green"></span></h4>
                <p>If the camera window is filled everything is OK.</p>
                <p class="alert alert-warning">Make sure you have also <b>allowed</b> camera recording from you browser.</p>
                <p>When you are OK with camera perspective and you can view yourself from the camera window press CONTINUE button to continue with the question...</p>
                <br><br>
                <button class="btn btm-lg btn-primary" ng-click="startReading()">CONTINUE AND READ THE QUESTION &raquo;</button>
                <br>
                <br>
                <a class="btn btm-lg btn-default" href="#!/students">
                &laquo; GO BACK TO INSTRUCTIONS SCREEN
            </a>
            </div>

        </div>

        <!-- READY TO -->








        <div ng-show="state==READING">

            <h2>2. READ THE QUESTION</h2>

            <div class="well well-lg">
                <h3 ng-bind="question.name" style="margin-top:0"></h3>

                <div ng-bind="question.content"></div>
            </div>
            <br>
            <br>Remaining Seconds:
            <b ng-bind="timers.read.seconds"></b>

            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: {{timers.read.percent || 0}}%"></div>
            </div>

            <br>

            <div>
                I have read the question.
                <button type="button" class="btn btn-default" ng-click="prepareRecord()">GO TO RECORD AREA</button>
            </div>
        </div>



        <div style="padding:100px;" ng-show="state==PREPARE_RECORD">
            Read time has ended.
            <p class="h3">Be prepared!</p>
            Record will start in:
            <span class="h1" ng-bind="timers.recordPrepare.seconds"></span>
            seconds

            <div class="bar" style="width: {{timers.recordPrepare.percent}}%;">&nbsp;</div>
        </div>


        <div style="padding:100px;" class="text-center" ng-show="state==CONVERTING">
            <span class="preloader"></span>
            <br>
            <br>
            <p>The video is being converted. Please wait...</p>
        </div>


    </div>





    <div ng-show="noCamera">
        <section ng-controller="UploadController">

            <div>

                <div class="upload-div">


                    <h1>Upload a Video</h1>
                    <hr>

                    <div style="display:none">
                        http method:
                        <input type="radio" ng-model="httpMethod" ng-init="httpMethod = 'POST'" value="POST" />post
                        <input type="radio" ng-model="httpMethod" value='PUT' ng-disabled="usingFlash" />put
                        <br/>
                        <br/>How to upload:
                        <br/>
                        <label>
                            <input type="radio" name="howToSend" ng-model="howToSend" value="1" ng-init="howToSend = 1">Multipart/form-data upload using $upload.upload() service cross browser</label>
                        <br/>
                        <label>
                            <input type="radio" name="howToSend" ng-model="howToSend" value="2" ng-disabled="!fileReaderSupported || usingFlash">File binary content with the file type as Content-Type header using $upload.http() service</label>
                        <div class="sub">The second option could be used to upload files to <a href="https://github.com/danialfarid/angular-file-upload/issues/88">CouchDB</a>,
                            <a href="https://github.com/danialfarid/angular-file-upload/issues/87">imgur</a>, etc... for HTML5 FileReader browsers.
                            <br/>
                        </div>
                        <br/>myModel:
                        <input type="text" ng-model="myModel">model object to be sent with the file.
                        <br/>
                    </div>
                    <div class="upload-buttons">
                        Upload a Video:
                        <input type="file" ng-file-select="onFileSelect($files)" onclick="this.value=null">
                        <div style="display:none">

                            <br/>or multiple files: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="file" ng-file-select="onFileSelect($files)" multiple onclick="this.value=null">


                            <br/>or only images: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="file" ng-file-select="onFileSelect($files)" multiple onclick="this.value=null" accept="image/*">
                        </div>
                    </div>

                    <div style="display:none">
                        You can have any element as an upload button:
                        <div ng-file-select="onFileSelect($files)" data-multiple="true" title="select file" onclick="this.value = null" class="upload-button">Click here to select file</div>
                    </div>

                    <br/>
                    <br/>
                    <!-- ng-file-drag-over-class and ng-file-drag-over-delay are optional for styling and css transition handling #277 -->
                    <div ng-show="dropSupported" class="drop-box" ng-file-drop="onFileSelect($files)" ng-file-drop-available="dropSupported=true" ng-file-drag-over-class="dragOverClass($event)" ng-file-drag-over-delay="100">or drop a video file here
                    </div>

                    <div ng-show="!dropSupported">HTML5 Drop File is not supported on this browser</div>


                    <div style="display:none">
                        <br/>
                        <input type="checkbox" ng-model="uploadRightAway">Upload right away
                        <br/>
                        <input type="checkbox" ng-model="generateErrorOnServer">Make server return error code:
                        <input type="text" ng-model="serverErrorCode">message:
                        <input type="text" ng-model="serverErrorMsg">
                        <br/>
                    </div>


                    <div class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
                    <br/>Progress:
                    <br/>
                    <br/>
                    <div ng-show="selectedFiles != null">
                        <div class="sel-file" ng-repeat="f in selectedFiles">
                            {{($index + 1) + '.'}}
                            <img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}">
                            <button class="button" ng-click="start($index)" ng-show="progress[$index] < 0">Start</button>
                            <span class="progress" ng-show="progress[$index] >= 0">
                                <div style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
                            </span>
                            <button class="button" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100">Abort</button>
                            {{f.name}} - size: {{f.size}}B - type: {{f.type}}
                        </div>
                    </div>
                    <div class="response" ng-show="uploadResult.length > 0">
                        Server Response:
                        <ul>
                            <li ng-repeat="result in uploadResult">
                                <ul>
                                    <li ng-repeat="item in result.result">
                                        <div data-ng-show="item.name">file name: {{item.name}}</div>
                                        <div data-ng-show="item.fieldName">name: {{item.fieldName}}</div>
                                        <div data-ng-show="item.size">size on the serve: {{item.size}}</div>
                                        <div data-ng-show="item.value">value: {{item.value}}</div>
                                    </li>
                                </ul>
                                <div data-ng-show="result.requestHeaders" class="reqh">request headers: {{result.requestHeaders}}</div>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>

        </section>
    </div>

</section>
