<section data-ng-controller="AnswersController" data-ng-init="Answers.findOne()">

    <h1>Answer Review</h1>
    <hr>

    <h3 ng-bind="answer.question.name"></h3>
    <p ng-bind="answer.question.content"></p>

    <br>

    <h4>Video Posted</h4>

    <div ng-if="answer.localVideo">

        <!--         <videogular vg-theme="VideoConfig.theme">
            <vg-video vg-src="VideoConfig.sources" vg-native-controls="true"></vg-video>
        </videogular>
 -->

        <video controls ng-src="{{answer.localVideo}}"></video>
    </div>
    <br />

    <small>
        <em class="text-muted">Posted on
            <span data-ng-bind="answer.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="answer.user.displayName"></span>
        </em>
    </small>

    <br>
    <br>
    <br>


    <button type="button" class="btn btn-primary" ng-click="enableAnswer()">
        SUBMIT ANSWER
    </button>
    <a class="btn btn-default" ng-href="#!/questions/{{answer.question._id}}/record">
        TRY AGAIN
    </a>


    <br>
    <br>
    <p class="alert alert-success" ng-show="answer.enabled">
        Your answer has been submitted.
    </p>

</section>
